@import url('./fonts.css');

* {
  box-sizing: border-box;
  transition: all 0.3s;
  font-family: "Avenir Next";
}

body,
main {
  padding: 0 0 0 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none;
}

input:-internal-autofill-selected {
  appearance: initial !important;
  background-image: none !important;
  background-color: initial !important;
  color: initial !important;
}

.form-error {
  color: red;
  font-size: small;
  padding: 0 !important;
  margin: 0 !important;
}

.styled-icon {
  position: absolute;
  top: 10vh;
  left: 0;
}


/* Loader */
.loader {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.loader .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader .lds-ripple div {
  position: absolute;
  border: 4px solid yellow;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader .lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}